
*.pth
abrain-web-hf/.DS_Store
abrain-web/.DS_Store
CLIP-doc/.DS_Store
data/.DS_Store
data/web/dev/.DS_Store
data/web/.DS_Store
CLIP-doc-pl/.DS_Store
data/web/dev/metadata.jsonl
data/web/train/.DS_Store
data/web/train/metadata.jsonl
diagram-generator/.DS_Store
pdf-jige/results/.DS_Store
pdf-jige/results/dataset/images/figure_1.png
pdf-jige/results/dataset/images/figure_2.png
pdf-jige/results/dataset/images/figure_3.png
pdf-jige/results/NIPS-2017-attention-is-all-you-need-Paper.pdf/images/figure_1.png
pdf-jige/results/NIPS-2017-attention-is-all-you-need-Paper.pdf/images/figure_2.png
pdf-jige/results/NIPS-2017-attention-is-all-you-need-Paper.pdf/images/figure_3.png
pdf-jige/results/NIPS-2017-attention-is-all-you-need-Paper.pdf/text.txt
pdf-jige/test_pdfs/NIPS-2017-attention-is-all-you-need-Paper.pdf
pdf-jige/test_pdfs/.DS_Store
reader/.DS_Store
reader/train/.DS_Store
pdf-jige/.DS_Store
.DS_Store
pdf-jige/.DS_Store
kb-search/lib/vis-9.1.2/vis-network.min.js
kb-search/lib/vis-9.1.2/vis-network.css
kb-search/lib/tom-select/tom-select.css
kb-search/lib/tom-select/tom-select.complete.min.js
kb-search/lib/bindings/utils.js
kb-search/cthulhu-kb.html
kb-search/cthulhu-kb.p
kb-search/cthulhu-kb.html
